<li>
  <div class="row-md-4">
    <span style="font-size: 40px; color:crimson;"><%= message.From %></span>
    <span style="font-size: 20px; opacity: 70%;"><%= message.Date %></span>
  </div>
  <div id="divSentMessage" class="row-md-4" style="font-size: 40px;">
    <span  style="font-size: 40px;"><%= message.Message %></span>
  </div>
</li>