<!DOCTYPE html>
<html>

<head>
    <title>IRC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Messages</h1>
    <ul>
        <%
        var list = '';
        for (i = 0; i < messagesList.length; i++) {
          list += '<li>' + messagesList[i].Date + ' - ' + messagesList[i].From + ': ' +  messagesList[i].Message + '</li>';
        }
      %>
        <%- list %>
    </ul>
    <form id="formSendMessage" name="sendmessage" method="post" action="irc/sendmessage">
        <input id="inputMessage" type="text" placeholder="Enter a message here" name="message" />
        <button id="btnSubmit" type="submit">Submit</button>
</body>

</html>