<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRC - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="col-md-5"></div>
  <div id="divLogin" class="col-md-2">
    <form id="formLogin" name="login" method="post" autocomplete="off" action="/login/authenticate">
        <input id="inputUserName" type="text" Class="form-control" 
        placeholder="Enter UserName" name="username" />
        <input id="inputPassword" type="password" Class="form-control" 
        placeholder="Enter Password" name="password" />
    <input type="checkbox" onclick="showPassword()"/>
    <label style="font-size: 12px; opacity: 70%;" >Show Password</label>
    <br/>
    <button id="btnLogin" style="width: 100px; margin-bottom: 10px;" class="btn btn-default">Login</button>
    <% if (failed) {  %>
      document.getElementById("btnLogin").style.color = "red";
        <script>
        document.getElementById("btnLogin").textContent = "Login Failed";
        console.log("I Ran")
      </script>
      <% } %>
  </form>
  </div>
  <script>
    function showPassword() {
      const passwordInput = document.getElementById("inputPassword");
      passwordInput.type = passwordInput.type === "text" ? 'password' : 'text';
    }
  
    </script>

</body>

</html>