<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="col-md-5"></div>
  <div id="divLogin" class="col-md-2">
    <form id="formUserName" name="sendmessage" method="post" action="irc/sendmessage">
        <input id="inputUserName" type="text" Class="form-control" autocomplete="off"
        placeholder="Enter UserName" name="message" />
    </form>
    <form id="formPassword" name="sendmessage" method="post" action="irc/sendmessage">
        <input id="inputPassword" type="text" Class="form-control" autocomplete="off"
        placeholder="Enter Password" name="message" />
    </form>

    <button id="btnLogin" style="width: 100px; margin-bottom: 10px;" onclick="Login()" class="btn btn-default">Login</button>
    <!-- <p onclick="myFunction(this, 'red')">test</p> -->
  </div>
  <script>
    //document.getElementById("btnLogin").onclick = function() {Login()};
  
    function Login()
    {
      document.getElementById("btnLogin").style.color = "red";
        //res.redirect('/irc')
        var txtUserName = document.getElementById("inputUserName").value;
        var txtPassword = document.getElementById("inputPassword").value;
        if (txtUserName == 'nyk' & txtPassword == 'test')
        {
          window.location.href="irc";
          //document.getElementById("inputPassword").value = text1;
          //res.redirect('irc.ejs');          
        }
        //res.redirect('/irc');
        
  
    } 
    // function myFunction(elmnt,clr) {
    //   //res.redirect('/irc')
    //   elmnt.style.color = clr;
      
    // }  
  
    </script>

</body>

</html>