<!DOCTYPE html>
<html>

<head>
  <title>IRC</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="col-md-4"></div>
  <div id="colMessages" class="col-md-4">
    <div id="divMessages" class="row-md-4">
      <h1 style="text-align: center;">Messages</h1>
      <ul id="listMessages" style="width: auto; height: 750px; overflow: auto">
        <%
        for (const message of messagesList) {
        %>
        <%- include('partials/message', { message }); %>
        <% } %>
      </ul>
    </div>
    <div class="row-md-4">
      <div class="col-md-10">
        <form id="formSendMessage" name="sendmessage" method="post" action="irc/sendmessage">
          <input id="inputMessage" type="text" class="form-control" autocomplete="off"
            placeholder="Enter a message here" name="message" />
      </div>
      <div class="col-md-1">
        <button id="btnSubmit" style="width: 100px; margin-bottom: 10px;" type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script>

    //Highlight message with click
    const ul = document.getElementById("listMessages");
    const listItems = ul.getElementsByTagName("li");
    //const messageDiv = [];
    for(li of  listItems)
    {
      for(divs of li.getElementsByTagName("div"))
      {
        if(divs.getAttribute("id") == "divSentMessage")
        {
          divs.onclick = highlightList;
        }
      }
      
    }

    function highlightList()
      {
        if(this.classList.contains('active'))
        {
          this.classList.remove("active");
        } 
        else 
        {
          this.classList.add("active");
        }
      }
  </script>
</body>

</html>