<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRC - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="col-md-5"></div>
  <div id="divLogin" class="col-md-2">
    <form id="formLogin" name="login" method="post" autocomplete="off" action="/login/authenticate">
        <input id="inputUserName" type="text" Class="form-control" 
        placeholder="Enter UserName" name="username" />
        <input id="inputPassword" type="password" Class="form-control" 
        placeholder="Enter Password" name="password" />
    <input id="chkShowPassword" type="checkbox" onclick="showPassword()"/>
    <label style="font-size: 12px; opacity: 70%;" >Show Password</label>
    <br/>
    <button id="btnLogin" style="width: 100px; margin-bottom: 10px;" class="btn btn-default">Login</button>
    <% if (failed) {  %>
        <script>
        document.getElementById("btnLogin").style.color = "red";
        document.getElementById("btnLogin").value = "Login Failed";
        console.log("I Ran")
      </script>
      <% } %>
  </form>
    <!-- <p onclick="myFunction(this, 'red')">test</p> -->
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <section>

    <div class="slider">
      <div class="slide-viewer">
        <div class="slide-group">
          <div class="slide slide-1">
            <img src="http://puu.sh/FYX8x/aa6bf4b82f.png" alt="" />
          </div>
          <div class="slide slide-2">
            <img src="http://puu.sh/FYX4B/ef7c3f18d8.png" alt=""  />
          </div>
          <div class="slide slide-3">
            <img src="http://puu.sh/FYX6u/e1c2d8744f.png" alt=""  />
          </div>
          <div class="slide slide-4">
            <img src="img/3.png" alt=""  />
          </div>
        </div>
      </div>
      <div class="slide-buttons"></div>
    </div>

  </section>

  <script src="javascripts/jquery-1.11.0.min.js"></script>
  <script src="javascripts/slider.js"></script>
  <script>
    function autofillUsername() 
    {
      document.getElementById('inputUserName').value = "nyk";    
      
    }
    document.getElementById('inputUserName').onclick = autofillUsername;

    function autofillPassword() 
    {
      document.getElementById('inputPassword').value = "test";    
      
    }
    document.getElementById('inputPassword').onclick = autofillPassword;  

    function showPassword() 
    {
      const passwordInput = document.getElementById("inputPassword");
      passwordInput.type = passwordInput.type === "text" ? 'password' : 'text';
    }
    // function myFunction(elmnt,clr) {
    //   //res.redirect('/irc')
    //   elmnt.style.color = clr;
      
    // } 
    
    
  
    </script>

</body>

</html>